/* For Firefox */
html {
  scrollbar-width: none; /* Hides scrollbar in Firefox */
}
/* For Webkit browsers (Chrome, Safari) */
body::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}